
body{
  font-size: 0.8rem;
  /*font-size: 1rem;*/
}
.container{
  margin-top: 3rem;
  max-width: 960px;
}
#menu{
  position: fixed;
  top: 0px;
  height: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  width: 100%;
  text-align: center;
}
.dv{
  color: #9e9e9e;
}
.research-thumbnail{
  border:1px solid #9e9e9e;
}
.pub-item{
  margin-top: 15px;
}
.pub-thumbnail{
  border:1px solid #9e9e9e;
}

.google-maps-container{
  max-width: 450px;
}
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.twiter-container{
  max-width: 450px;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
body{

}
.container{
  margin-top: 20px;
}
.navbar .column{
  text-align: center;
  border-left: 2px solid #9E9E9E;
}

a{
  color: #00BCD4;
}
a:hover{
  color: #00BCD4;
  text-decoration: underline;
}
.row .column-75.bio {
  flex: 0 0 100%;
  max-width: 100%;
  text-align:justify;
}
.row .column-75.publication {
  flex: 0 0 100%;
  max-width: 100%;
}
img.profile {
  width: 100%;
}
img.highlight-img{
  border: #606c76 dashed 1px;
}
strong{
  font-weight: 500;
}
.section-name{
  text-transform: uppercase;
}
.news-item{
  margin-bottom:1rem;
}
.news-item em{
}
::selection {
    background-color: #606c76;
    color: #fff;
}
a::selection {
    color: #18FFFF;
}

.pub-item-list{
  clear: right;
}
.pub-item{
  margin-bottom: 1rem;
}

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
@media (min-width: 40.0rem) {
  .row .column-75.bio  {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row .column-75.publication {
    flex: 0 0 75%;
    max-width: 75%;
  }
  img.profile {
    width: 20rem;
    float:left;
    margin-right:15px;
  }

}*/
