#myToolbar{
	background: #4285f4;
}
#myTabs{
	height: 800px;
}
#toolbarName{
	font-size: 2em;
	font-weight: 300;
	line-height: 1.5;
}
#profileCard{
	background: white;
}
#bioCard{
	background: white;
}
#pubCard{
	background: white;
}
#projCard{
	background: white;
}
#fabButtons .md-button{
	margin-right: 1em;

}
.listImage {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin-top:2.5em;
}
.publication .md-subheader{
	padding: 0em;
}
body{
	
	background: #ececec;
	color:#212121;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	color:rgba(0, 0, 0, 0.6);
}
a {
  color: #4285f4;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
