body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .column:nth-child(1){
    flex-grow: 4;
}

.column{
    padding: 10px 10px;
}
main{
    /* padding:10px; */
}
.container{
    max-width: 748px;
    width: 100%;
  }