
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    border-bottom: 1px solid #eeeeee;
}
header .column:nth-child(1){
    flex-grow: 1;
}
header .column:nth-child(2){
    flex-grow: 3;
}
header .column:nth-child(3){
    flex-grow: 2;
}

main .column:nth-child(1){
    flex-grow: 4;
}
main .column:nth-child(2){
    flex-grow: 2;
}
section{
    margin: 1.5rem 0px 0.5rem 0px;
}
.email{
    cursor: pointer;
}
.center{
    text-align: center;
}
.hidden{
    display:none;
}
.show{
    display: block;
    animation: slide-down .3s ease-out;
}
.item{
    animation: slide-down .3s ease-out;
}
.item p{
    margin:0;
}
.date, .location {
    color:#757575;
    font-size: 0.9rem;
    
}
@keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-10%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

.profile-image{
    width:100%;
    object-fit: cover;
    border-radius: 5px;
    /* position: relative;
    height:0; */
    /* padding-top:100%; */
    
}
.profile-item{
    margin-top:10px;
}

.dv{
    color: #9E9E9E;
}
.filter{
    padding:1rem 0;
    display: flex;
    flex-wrap: wrap;
}
.chip{
    border-radius: 1rem;
    background: #eeeeee;
    
    padding: .2rem 0.5rem;
    margin: .2rem;
    cursor: pointer;
    transition: all 0.2s;
}
.chip.selected{
    background: #B3E5FC;
    /* color:#fafafa; */
}
.pub{
    display: flex;
    width:100%;
    margin: 1rem 0;
    
}
.pub-group{
    animation: slide-down .2s ease-out;
}
.pub-group .title{
    margin: 0.5rem 0 0.2rem 0;
    
}
.pub-teaser{
    /* flex-grow: 1; */
    width:20%;
    height:8rem;
    /* width: 12rem; */
    background-size:cover;
    background-position:top left;
    transition:all 2s;
}
.pub-teaser:hover{
    background-position:bottom right;
}

/* .pub-teaser img{
    width: 12rem;
    object-fit: cover;
    height:8rem;
} */

.pub-detail{
    /* flex-grow: 8; */
    width:80%;
    margin-left:10px;
}
.pub-materials{
    display: flex;
    flex-wrap: wrap;
    margin-top:0.5rem;
}
.pub-materials .item{
    font-size: 0.9rem;
    
}
.pub-materials .item:not(:last-child){
    margin-right: 0.5rem;
    
}
.search {
    position: relative;
}
.search input {
    box-sizing: border-box;
    display: block;
    width:100%;
    margin:0.5rem 0 0.5rem 0;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #eeeeee;
    outline: none;
}

@media only screen and (max-width:768px){
    /* html{
        font-size: 1.4rem;
    } */
    .profile-image{
        width:50%;
    }
    .row{
        flex-direction: column;
        justify-content: space-between;
    }
    header .column:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pub{
        flex-direction: column;
    }
    .pub-teaser{
        width:100%;
        margin-bottom:1rem;
        /* position: relative; */
        height:0;
        padding-top: 75%;
    }
    .pub-detail{
        width:100%;
        margin-left:0px;
        /* height:100%; */
        /* position: relative;
        padding-top: 100%; */
    }
}
.people{
    margin-bottom: 15px;
}
.people{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(6, 15%);
    /* flex-wrap: wrap; */
}
.alumni{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(9, 10%);
    /* flex-wrap: wrap; */
}
.people .item{
    margin-right: 10px;
    
}
.alumni .item{
    margin-right: 5px;
    
}
.alumni .item a, .people .item a{
    border:none;
    text-decoration: none;
    cursor: pointer;
}
.alumni .item a:hover, .people .item a:hover{
    border: none;
    background: none;
    padding: 0;
}
.people .item img{
    position: relative;
    border-radius: 50%;
    width:48px;
    height:48px;
    object-fit: cover;
    border:2px solid white;
    transition: all .25s;
}
.alumni .item img{
    position: relative;
    border-radius: 50%;
    width:30px;
    height:30px;
    object-fit: cover;
    border:2px solid white;
    transition: all .25s;
}
.alumni .item img:hover, .people .item img:hover{
    border:2px solid #B3E5FC;
}

.person-detail{
    position: absolute;
    background-color: white;
    min-width: 150px;
    padding: 5px;
    margin-left:24px;
    transform: translate(-50%,0);
    border-radius: 4px;
    z-index: 999;
    text-align: center;
    box-shadow:0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    /* font-size: 12px; */
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }