
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  border-bottom: 1px solid #eeeeee;
}
header .column:nth-child(1){
  flex-grow: 1;
}
header .column:nth-child(2){
  flex-grow: 3;
}
header .column:nth-child(3){
  flex-grow: 2;
}

main .column:nth-child(1){
  flex-grow: 4;
}
main .column:nth-child(2){
  flex-grow: 2;
}
section{
  margin: 1.5rem 0px 0.5rem 0px;
}
.email{
  cursor: pointer;
}


.profile-image{
  width:100%;
  object-fit: cover;
  border-radius: 5px;
  /* position: relative;
  height:0; */
  /* padding-top:100%; */
  
}
.profile-item{
  margin-top:10px;
}

.dv{
  color: #9E9E9E;
}
.filter{
  padding:1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.pub{
  display: flex;
  width:100%;
  margin: 1rem 0;
  
}
.pub-group{
  animation: slide-down .2s ease-out;
}
.pub-group .title{
  margin: 0.5rem 0 0.2rem 0;
  
}
.pub-teaser{
  /* flex-grow: 1; */
  width:20%;
  height:8rem;
  /* width: 12rem; */
  background-size:cover;
  background-position:top left;
  transition:all 2s;
}
.pub-teaser:hover{
  background-position:bottom right;
}

/* .pub-teaser img{
  width: 12rem;
  object-fit: cover;
  height:8rem;
} */

.pub-detail{
  /* flex-grow: 8; */
  width:80%;
  margin-left:10px;
}
.pub-materials{
  display: flex;
  flex-wrap: wrap;
  margin-top:0.5rem;
}
.pub-materials .item{
  font-size: 0.9rem;
  
}
.pub-materials .item:not(:last-child){
  margin-right: 0.5rem;
  
}
.search {
  position: relative;
}
.search input {
  box-sizing: border-box;
  display: block;
  width:100%;
  margin:0.5rem 0 0.5rem 0;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #eeeeee;
  outline: none;
}

@media only screen and (max-width:768px){
  /* html{
      font-size: 1.4rem;
  } */
  .profile-image{
      width:50%;
  }
  .row{
      flex-direction: column;
      justify-content: space-between;
  }
  header .column:nth-child(1){
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  header{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .pub{
      flex-direction: column;
  }
  .pub-teaser{
      width:100%;
      margin-bottom:1rem;
      /* position: relative; */
      height:0;
      padding-top: 75%;
  }
  .pub-detail{
      width:100%;
      margin-left:0px;
      /* height:100%; */
      /* position: relative;
      padding-top: 100%; */
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.see-all{
  margin-top: 5px;
  display: inline-block;
}
a.see-all{
  border: none;
  /* color: #000000; */
  color:#726158;
  /* padding-bottom: .25em; */
  text-decoration: none;
  cursor: pointer;
  font-variant: small-caps;
}

a.see-all:hover{
  /* background-position:0 calc(100% - 1.5px);
  border-bottom:none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%234FC3F7' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: auto 4px; */
  background:none;
  border: none;
  /* border-bottom:solid 1px #726158; */
  color:#8a100b;
  transition: color .25s;
  padding: 0;
  /* padding-bottom: .25em; */
  text-decoration: none;
  cursor: pointer;
}

.people{
  margin-bottom: 15px;
}
.people{
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(6, 15%);
  /* flex-wrap: wrap; */
}
.alumni{
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(9, 10%);
  /* flex-wrap: wrap; */
}
.people .item{
  margin-right: 10px;
  
}
.alumni .item{
  margin-right: 5px;
  
}
.alumni .item a, .people .item a{
  border:none;
  text-decoration: none;
  cursor: pointer;
}
.alumni .item a:hover, .people .item a:hover{
  border: none;
  background: none;
  padding: 0;
}
.people .item img{
  position: relative;
  border-radius: 50%;
  width:48px;
  height:48px;
  max-width: 48px;
  max-height: 48px;
  object-fit: cover;
  border:2px solid white;
  transition: all .25s;
}
.alumni .item img{
  position: relative;
  border-radius: 50%;
  width:30px;
  max-width: 30px;
  height:30px;
  max-height: 30px;
  object-fit: cover;
  border:2px solid white;
  transition: all .25s;
}
.alumni .item img:hover, .people .item img:hover{
  border:2px solid #dccaa0;
}

.person-detail{
  position: absolute;
  background-color: white;
  min-width: 150px;
  padding: 5px;
  margin-left:24px;
  transform: translate(-50%,0);
  border-radius: 4px;
  z-index: 999;
  text-align: center;
  box-shadow:0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  /* font-size: 12px; */
}
