
body{
  /* font-size: 1.2rem; */
  line-height: 1.5;
  font-family: Georgia, serif;
  color:#052d3f;
  background: #fafafa;
  
}

::selection{
  background: #B3E5FC;
}

a {
  border-bottom: 2px solid #4FC3F7; /*81D4FA*/
  /* color: #000000; */
  color:#052d3f;
  /* padding-bottom: .25em; */
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-position:0 calc(100% - 1.5px);
  border-bottom:none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%234FC3F7' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: auto 4px;
  border-bottom: 0;
  padding-bottom: .25em;
  text-decoration: none;
  cursor: pointer;
}

.container{
  max-width: 1366px;
  width: 100%;
}


.row{
  display: flex;
  justify-content: space-between;
}

.column{
  flex: 1;
  padding: 0px 10px;
}

.switch-container{
  display: flex;
  margin:5px;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

.label{
  margin-left: 5px;
  height: 28px;
  line-height: 28px;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.checkbox:checked + .slider {
  background-color: #212121;
}

.checkbox:focus + .slider {
  box-shadow: 0 0 1px #212121;
}

.checkbox:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.title{
  font-family: 'Playfair Display', serif;
  margin:0;
  /* font-size: 2.4rem; */
  font-weight: 100;
  position: relative;
  display: table;
  padding:0 5px;
  
}
.title::after {
  content: '';
  background-color: #FFE0B2;
  height: 30%;
  position: absolute;
  top: 65%;
  /* -webkit-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
  left: 0;
  width: 100%;
  z-index: -1;
}
.text-gray{
  color:#9e9e9e;
}

.text-highlight{
  background-color:#FFE0B2;
}
.emphasis{
  background: #03A9F4;
  border-radius: 5px;
  padding: 5px 10px;
  color:white;
}