
body{
  /* font-size: 1.2rem; */
  line-height: 1.5;
  font-family: Georgia, serif;
  color:#052d3f;
  background: #fafafa;
  display: flex;
  justify-content: center;
  
}
.canvas-container{
  position: fixed;
  top:0;
  left:0;
  z-index:-2;
}
.canvas-container canvas{
  /* width:100%;
  height:100%; */
  opacity: 0.15;
}
::selection{
  background: #B3E5FC;
}

a {
  cursor:pointer; 
  text-decoration: none;
  color:inherit;
  display: inline-block;
  position: relative;
  /* color:#03A9F4; */
}
a::after {
  content: '';
  background-color: #B3E5FC;
  height: 15%;
  position: absolute;
  top: 70%;
  /* -webkit-transform: translateY(-50%); */
  /* transform: translateY(-20%); */
  left: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.2s;
}
a:hover::after {
  height: 100%;
  top: 0%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  max-width: 1366px;
  width: 100%;
}


.row{
  display: flex;
  justify-content: space-between;
}

.column{
  flex: 1;
  padding: 0px 10px;
}
header{
  border-bottom: 1px solid #eeeeee;
}
header .column:nth-child(1){
  flex-grow: 1;
}
header .column:nth-child(2){
  flex-grow: 3;
}
header .column:nth-child(3){
  flex-grow: 2;
}

main .column:nth-child(1){
  flex-grow: 4;
}
main .column:nth-child(2){
  flex-grow: 2;
}
section{
  margin: 1.5rem 0px 0.5rem 0px;
}
.email{
  cursor: pointer;
}
.center{
  text-align: center;
}
.hidden{
  display:none;
}
.show{
  display: block;
  animation: slide-down .3s ease-out;
}
.item{
  animation: slide-down .3s ease-out;
}
.item p{
  margin:0;
}
.date, .location {
  color:#757575;
  font-size: 0.9rem;

}
@keyframes slide-down {
  0% { opacity: 0; -webkit-transform: translateY(-10%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}

.profile-image{
  width:100%;
  object-fit: cover;
  border-radius: 5px;
  /* position: relative;
  height:0; */
  /* padding-top:100%; */
  
}
.profile-item{
  margin-top:10px;
}
.title{
  font-family: 'Playfair Display', serif;
  margin:0;
  /* font-size: 2.4rem; */
  font-weight: 100;
  position: relative;
  display: table;
  padding:0 5px;
  
}
.title::after {
  content: '';
  background-color: #FFE0B2;
  height: 30%;
  position: absolute;
  top: 65%;
  /* -webkit-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
  left: 0;
  width: 100%;
  z-index: -1;
}
.text-gray{
  color:#9e9e9e;
}

.text-highlight{
  background-color:#FFE0B2;
}
.dv{
  color: #E0E0E0;
}
.filter{
  padding:1rem 0;
  display: flex;
  flex-wrap: wrap;
}
.chip{
  border-radius: 1rem;
  background: #eeeeee;
  
  padding: .2rem 0.5rem;
  margin: .2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.chip.selected{
  background: #B3E5FC;
  /* color:#fafafa; */
}
.pub{
  display: flex;
  width:100%;
  margin: 1rem 0;
  animation: slide-down .3s ease-out;
}
.pub-group .title{
  margin: 0.5rem 0 0.2rem 0;
}
.pub-teaser{
  /* flex-grow: 1; */
  width:20%;
  height:8rem;
  /* width: 12rem; */
  background-size:cover;
  background-position:top left;
  transition:all 2s;
}
.pub-teaser:hover{
  background-position:bottom right;
}

/* .pub-teaser img{
  width: 12rem;
  object-fit: cover;
  height:8rem;
} */

.pub-detail{
  /* flex-grow: 8; */
  width:80%;
  margin-left:10px;
}
.pub-materials{
  display: flex;
  flex-wrap: wrap;
  margin-top:0.5rem;
}
.pub-materials .item{
  font-size: 0.9rem;

}
.pub-materials .item:not(:last-child){
  margin-right: 0.5rem;
  
}
.search {
  position: relative;
}
.search input {
  box-sizing: border-box;
  display: block;
  width:100%;
  margin:0.5rem 0 0.5rem 0;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #eeeeee;
  outline: none;
}

@media only screen and (max-width:768px){
  /* html{
    font-size: 1.4rem;
  } */
  .profile-image{
    width:50%;
  }
  .row{
    flex-direction: column;
    justify-content: space-between;
  }
  header .column:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pub{
    flex-direction: column;
  }
  .pub-teaser{
    width:100%;
    margin-bottom:1rem;
    /* position: relative; */
    height:0;
    padding-top: 75%;
  }
  .pub-detail{
    width:100%;
    margin-left:0px;
    /* height:100%; */
    /* position: relative;
    padding-top: 100%; */
  }
}